html, body{
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  color: black;
  overflow-x: hidden;
  overflow-x: scroll;
}

td > input {
  width: 99%;
  height: 125%;
  font-size: 24px;
}

table {
  display: block;
  border-collapse: collapse;
  overflow-x: hidden;
  /*margin: 20px auto;*/
  /*width: 80%;*/
}

th {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
}

table, td {
  border: 0px;
  padding: 5px;
  /*white-space: nowrap;*/
  /*overflow-x: hidden;*/
  text-align: right;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: yellow;
}

.tableDiv {
  overflow-x: auto;
}

/*Makes the slidey thing white*/
:global(.style__pointer___XKUds){
  background-color: white;
  height: 7px;
  margin-top: -7px
}

/* Makes the navbar blue */
:global(.style__navigation___VJ4pk){
  box-shadow: inset 0 -1px #eeeeee;
  background: #3f51b6;
  width: 100%;
  /*height: 70px*/
}

/* Makes the selected tab's text */
:global(.style__label___V031b.style__active___lY_Ar){
  color: white;
}

/* Should hopefully make the tab thing fixed
:global(.style__navigation___VJ4pk){
  position: fixed;
  width: 100%;
}*/

/* Login page's backsplash */
.titleImage{
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* Add product button */
.inlineButton{
  display: block;
  margin: 30px auto;
  margin-bottom: 0px;
}

/* logout button in the navbar */
.logout {
  display: block;
  position: absolute;
  margin-right: 20px;
  right: 10px;
}

/* navbar tab default color */
.tabsNames {
  margin-left: 20px;
  color: white;
}

/* style for the parent div of the home page graph*/
.centerGraph{
  padding-left:10%;
  padding-right:10%;
}

/* Login button on the login page that is ontop of the image*/
.loginBox{
  position: absolute;
  top:58%;
  left:40%;
  z-index:1000;
  width: 95%;
}
.loginBox>button{
  right:1%;
  width:19%;
}

/* On the Dashboard page, displays all individual data*/
.detailDisplay{
  position: fixed;
  padding: 0px;

  width: 100%;
  height: 500px;

  left:0;
  bottom: 0;

  z-index: 5;
  background: white;
  box-shadow: 1px 2px 2px 2px #888888;

  overflow: auto;
}

.detailDisplay > button {
  margin: 10px;
  display: inline-block;
}

.detailImage {
  height: 150;
  width: 150;
  z-index: -1;
  display: inline;
  float: left;
  margin: 30px;
  border: blue;
}

.detailButtonsDiv{
  margin-left: 100px;
}

.detailButton {
  height: 30px;
  display: inline-block;
  margin: 10px 5px 0px 5px;
  min-width: 100px;
  font-size: 15px;
}
.detailTitle {
  margin: 10px 0px 0px 10px;
  font-size: 18px;
}

.detailDescription {
  margin: 0px 0px 0px 10px;
  font-size: 14px;
  max-width: 750px;
}

.detailSlider {
  width: 60%;
  margin: 0px 20px 20px 20px;

}

.detailSliderInfo {
  display: inline-block;
  margin: 20px 20px 0px 50px;
}

.detailChart {
  max-width: 500px;
}

/*.shortInputField{
  height: 20px;
  width: 100px;
}*/

/* Table on the dashboard */
#table{
  display: block;
  margin: 10px 25px 500px 25px;
/*  margin-bottom: 250px;
  margin-left: 20px;*/
}
