html, body {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  color: black;
  overflow-x: hidden;
  overflow-x: scroll;
}
header {
  text-align: center;
}

td > input {
  width: 99%;
  height: 125%;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  overflow-x: hidden;
}

th {
  padding: 5px;
  background-color: rgba(42, 157, 143, 0.72);
  color: white;
  text-align: center;
  border-right-color: white;
  border-width: 2px;
}

table, td {
  border: 0px;
  padding: 5px;
}

td {
  border-right-width: 1px;
  border-style: solid;
  border-right-color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody > tr:hover {
  background-color: lightgrey;
}

tr > td:nth-child(2) {
  min-width: 150px;
}

/*set minimum width on title column*/
tr > td:nth-child(4) {
  min-width: 175px;
  width: 100%;
}

tr > th:nth-child(4) {
  min-width: 150px;
  width: 100%;
}

/*center quantity column*/
tr > td:nth-child(5) {text-align: center}

/*right justify the numeric columns only*/
tr > td:nth-child(6) {text-align: right} 
tr > td:nth-child(7) {text-align: right} 
tr > td:nth-child(8) {text-align: right} 
tr > td:nth-child(9) {text-align: right} 
tr > td:nth-child(10) {text-align: right} 
tr > td:nth-child(11) {text-align: right} 
tr > td:last-child {
  text-align: right;
  border-right-width: 0px;
} 



tr > th:last-child {
  border-right-width: 0px;
}

/*Makes the slidey thing white*/
:global(.style__pointer___XKUds) {
  background-color: white;
  height: 7px;
  margin-top: -7px;
}

/* Makes the navbar blue */
:global(.style__navigation___VJ4pk) {
  box-shadow: inset 0 -1px #eeeeee;
  background: #264653;
  width: 100%;
  /*height: 70px*/
}

:global(.style__label___V031b.style__active___lY_Ar) {
  color: white;
}

/* Should hopefully make the tab thing fixed
:global(.style__navigation___VJ4pk){
  position: fixed;
  width: 100%;
}*/

/* Login page's backsplash */
.titleImage {
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* Add product button */
.inlineButton {
  margin: 15px 10px;
  margin-bottom: 0px;
}

/* logout button in the navbar */
.logout {
  display: block;
  position: absolute;
  margin-right: 20px;
  right: 10px;
}

/* navbar tab default color */
.tabsNames {
  margin-left: 20px;
  color: white;
}

/* style for the parent div of the home page graph*/
.centerGraph {
  padding-left:10%;
  padding-right:10%;
}

/* Login button on the login page that is ontop of the image*/
.loginBox {
  padding-bottom: 75px;
}
.loginBox>button {
  height: 2.4em;
  width:25%;
  font-weight: 900;
  font-size: 2em;
}

.notificationsList{
  color:red;
}

/* On the Dashboard page, displays all individual data*/
.detailDisplay {
  position: fixed;
  padding: 0px;

  width: 100%;
  height: 385px;

  left:0;
  bottom: 0;

  z-index: 5;
  background: white;
  box-shadow: 1px 2px 2px 2px #888888;

  overflow: auto;
}

.detailDisplay > button {
  margin: 10px;
  display: inline-block;
}

.detailImage {
  height: 125px;
  width: 125px;
  z-index: -1;
  display: inline;
  float: left;
  margin: 30px;
  border: blue;
}

.detailButtonsDiv {
  margin-left: 100px;
}

.detailButton {
  height: 30px;
  display: inline-block;
  margin: 10px 5px 0px 5px;
  min-width: 100px;
  font-size: 15px;
}
.detailTitle {
  margin: 10px 0px 0px 10px;
  font-size: 18px;
  font-weight: 900;
}

.detailDescription {
  margin: 0px 0px 0px 10px;
  font-size: 14px;
  max-width: 750px;
}

.detailSlider {
  display: block;
  align-items: center;
  width: 60%;
  margin: 0px 20px 20px 20px;
}

.detailSliderInfo {
  /*text-align: center;*/
  color: black;
  display: block;
  margin: 20px 20px 0px 50px;
}

.detailChart {
  max-width: 500px;
}

.detailCancel{
  display: inline;
  float: right;
  padding: 0px;
  margin: 15px;
  color: #264653;
  /*background: #264653;*/
}

.centerBlack {
  color: black;
  text-align: center;
}

.shipInfo {
  color: black;
  margin-left: 30px;
}

/* Table on the dashboard */
#table {
  margin: 0px auto 385px auto;
  /*margin-bottom: 375px;*/
}

.titleBackground {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.titleLogo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 125px;
  font-family: 'Economica';
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.loginHeader {
  text-align: center;
  background-image: url("/assets/6.jpg");
  background-position: center;
  background-size: cover;
}

.instructions {
  text-align: center;
  margin-bottom: 25px;
}

.loginBox > .loginButton.neutral {
  color: white;
  background-color: #20B2AA;
  border-radius: 40px;
  min-width: 200px;
}

.logoImgTitle{
  margin-bottom: 15px;
}

.footer {
  margin-top: 40px;
  border-top: solid 3px;
  border-color: #20B2AA;
}

.footerOptions {
  padding: 15px;
}

.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.amazonPrimeLogo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.instructionTitle {
  margin-bottom: 20px;
}

.introBlock {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

hr {
  border-width: 3px;
  border-color: #20B2AA;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 700px;
}

.githubLogo {
  max-height: 50px;
}

.teamCommercium {
  font-weight: bold;
  margin-top: 15px;
}

.productsTable {
  margin-top: 60px;  
}

.productsTableCont {
  padding-bottom: 20px;
}

@media (max-width: 991px) {
    .addMargin {
        margin-top:75px;
    }
}

:global(.style__raised___1YO8U.styles__viewDetailsButton___sBKyW.style__neutral___iXLge) {
  text-transform: capitalize;
}

:global(.style__primary___2QrZv.styles__inlineButton___16AEc.style__raised___1YO8U) {
  background-color: #264653;
}

:global(.style__primary___2QrZv.styles__inlineButton___16AEc.style__raised___1YO8U.detailBut) {
  background-color: #264653;
}

:global(.style__primary___2QrZv.styles__inlineButton___16AEc.style__raised___1YO8U.detailBut.closeButton) {
  background-color: #E76F51;
}

:global(.material-icons.md-dark) { 
  color: rgba(0, 0, 0, 0.54); 
  font-size: 36px;
};

:global(.reactable-filterer) { 
  text-align: right; 
  vertical-align: middle;
};

/*show table in block format when screen width is small*/
@media only screen 
and (max-width: 760px), (min-device-width: 768px)
and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 35%; 
  }
  td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  /* Label the data and change alignment when appropriate */
  td:nth-of-type(2):before {
    content: "SKU:";
    text-align: right;
  }
  td:nth-of-type(3):before {
    content: "ASIN:";
    text-align: right;
  }
  td:nth-of-type(4):before {
    content: "Title:";
    text-align: right;
  }
  td:nth-of-type(5):before {
    content: "Quantity:";
    text-align: right;
  }
  td:nth-of-type(6):before { 
    content: "Cost:"; 
    text-align: right;
  }
  td:nth-of-type(7):before {
    content: "FBM Price:";
    text-align: right;
  }
  td:nth-of-type(8):before {
    content: "FBM Price:"; 
    text-align: right;
  }
  td:nth-of-type(9):before {
    content: "Total Cost:";
    text-align: right;
  }
  td:nth-of-type(10):before {
    content: "Total Value:";
    text-align: right;
  }
  td:nth-of-type(11):before {
    content: "% Gain:"; 
    text-align: right;
  }
  tr > td:nth-child(5) {text-align: left}
  tr > td:nth-child(6) {text-align: left}
  tr > td:nth-child(7) {text-align: left}
  tr > td:nth-child(8) {text-align: left}
  tr > td:nth-child(9) {text-align: left}
  tr > td:nth-child(10) {text-align: left}
  tr > td:nth-child(11) {text-align: left}
  tr > td:nth-child(12) {text-align: left}
  tr > td:last-child > button {
    font-size: 30px;
  }
}

/*iPhone responsive variations*/

/*iPhone 6 Plus in portrait*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 35%; 
    font-size: 20px;
  }
  td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  /* Label the data and change alignment when appropriate */
  td:nth-of-type(2):before {
    content: "SKU:";
    text-align: right;
  }
  td:nth-of-type(3):before {
    content: "ASIN:";
    text-align: right;
  }
  td:nth-of-type(4):before {
    content: "Title:";
    text-align: right;
  }
  td:nth-of-type(5):before {
    content: "Quantity:";
    text-align: right;
  }
  td:nth-of-type(6):before { 
    content: "Cost:"; 
    text-align: right;
  }
  td:nth-of-type(7):before {
    content: "FBM Price:";
    text-align: right;
  }
  td:nth-of-type(8):before {
    content: "FBM Price:"; 
    text-align: right;
  }
  td:nth-of-type(9):before {
    content: "Total Cost:";
    text-align: right;
  }
  td:nth-of-type(10):before {
    content: "Total Value:";
    text-align: right;
  }
  td:nth-of-type(11):before {
    content: "% Gain:"; 
    text-align: right;
  }
  tr > td:nth-child(5) {text-align: left}
  tr > td:nth-child(6) {text-align: left}
  tr > td:nth-child(7) {text-align: left}
  tr > td:nth-child(8) {text-align: left}
  tr > td:nth-child(9) {text-align: left}
  tr > td:nth-child(10) {text-align: left}
  tr > td:nth-child(11) {text-align: left}
  tr > td:nth-child(12) {text-align: left}
  tr > td:last-child > button {
    font-size: 30px;
  }
}

/*iPhone 6 in portrait*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 35%; 
    font-size: 20px;
  }
  td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  /* Label the data and change alignment when appropriate */
  td:nth-of-type(2):before {
    content: "SKU:";
    text-align: right;
  }
  td:nth-of-type(3):before {
    content: "ASIN:";
    text-align: right;
  }
  td:nth-of-type(4):before {
    content: "Title:";
    text-align: right;
  }
  td:nth-of-type(5):before {
    content: "Quantity:";
    text-align: right;
  }
  td:nth-of-type(6):before { 
    content: "Cost:"; 
    text-align: right;
  }
  td:nth-of-type(7):before {
    content: "FBM Price:";
    text-align: right;
  }
  td:nth-of-type(8):before {
    content: "FBM Price:"; 
    text-align: right;
  }
  td:nth-of-type(9):before {
    content: "Total Cost:";
    text-align: right;
  }
  td:nth-of-type(10):before {
    content: "Total Value:";
    text-align: right;
  }
  td:nth-of-type(11):before {
    content: "% Gain:"; 
    text-align: right;
  }
  tr > td:nth-child(5) {text-align: left}
  tr > td:nth-child(6) {text-align: left}
  tr > td:nth-child(7) {text-align: left}
  tr > td:nth-child(8) {text-align: left}
  tr > td:nth-child(9) {text-align: left}
  tr > td:nth-child(10) {text-align: left}
  tr > td:nth-child(11) {text-align: left}
  tr > td:nth-child(12) {text-align: left}
  tr > td:last-child > button {
    font-size: 30px;
  }
}

/*iPhone 5 & 5S in portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 30%; 
    font-size: 15px;
  }
  td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    /*width: 45%; */
    width: 30%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  /* Label the data and change alignment when appropriate */
  td:nth-of-type(2):before {
    content: "SKU:";
    text-align: right;
  }  td:nth-of-type(3):before {
    content: "ASIN:";
    text-align: right;
  }
  td:nth-of-type(4):before {
    content: "Title:";
    text-align: right;
  }
  td:nth-of-type(5):before {
    content: "Quantity:";
    text-align: right;
  }
  td:nth-of-type(6):before { 
    content: "Cost:"; 
    text-align: right;
  }
  td:nth-of-type(7):before {
    content: "FBM Price:";
    text-align: right;
  }
  td:nth-of-type(8):before {
    content: "FBM Price:"; 
    text-align: right;
  }
  td:nth-of-type(9):before {
    content: "Total Cost:";
    text-align: right;
  }
  td:nth-of-type(10):before {
    content: "Total Value:";
    text-align: right;
  }
  td:nth-of-type(11):before {
    content: "% Gain:"; 
    text-align: right;
  }
  tr > td:nth-child(5) {text-align: left}
  tr > td:nth-child(6) {text-align: left}
  tr > td:nth-child(7) {text-align: left}
  tr > td:nth-child(8) {text-align: left}
  tr > td:nth-child(9) {text-align: left}
  tr > td:nth-child(10) {text-align: left}
  tr > td:nth-child(11) {text-align: left}
  tr > td:nth-child(12) {text-align: left}
  tr > td:last-child > button {
    font-size: 18px;
  }
}
