html, body{
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  color: black;
  overflow-x: hidden;
  overflow-x: scroll;
}

td > input {
  width: 99%;
  height: 150%;
  font-size: 24px;
  border: none;
}

table {
  display: block;
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}

th {
  padding: 10px;
}

table, td {
  border: 0px;
  padding: 10px;
  white-space: nowrap;
  text-align: right;
}

/*Makes the slidey thing white*/
:global(.style__pointer___XKUds){
  background-color: white;
  height: 7px;
  margin-top: -7px
}

/* Makes the navbar blue */
:global(.style__navigation___VJ4pk){
  box-shadow: inset 0 -1px #eeeeee;
  background: #3f51b6;
}

/* Makes the selected tab's text */
:global(.style__label___V031b.style__active___lY_Ar){
  color: white;
}


/* Login page's backsplash */
.titleImage{
  width:80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* Add product button */
.inlineButton{
  display: block;
  margin: 30px auto;
  margin-bottom: 0px;
}

/* logout button in the navbar */
.logout {
  display: block;
  position: absolute;
  margin-right: 20px;
  right: 10px;
}

/* navbar tab default color */
.tabsNames {
  margin-left: 20px;
  color: white;
}

/* style for the parent div of the home page graph*/
.centerGraph{
  padding-left:25%;
  padding-right:25%;
}

/* Login button on the login page that is ontop of the image*/
.loginBox{
  position: absolute;
  top:58%;
  left:40%;
  z-index:1000;
  width: 95%;
}
.loginBox>button{
  right:1%;
  width:19%;
}

/* On the Dashboard page, displays all individual data*/
.detailDisplay{
  position: fixed;
  padding: 30px;

  width: 100%;
  height: 200px;

  left:0;
  bottom: 0;

  z-index: 5;
  background: white;
  box-shadow: 1px 2px 2px 2px #888888;

  overflow: auto;
}
.detailDisplay > button {
  margin: 10px;
  display: inline-block;
}

.shortInputField{
  height: 20px;
  width: 100px;
}

/* Table on the dashboard */
#table{
  display: block;
  margin-bottom: 300px;
  
}


